@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sevillana&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-wrapper {
  width: 50%;
  background-color: rgb(12, 28, 36);
  padding: 4%;
  color: #ffffff;
  height: 100vh;
}

h1 {
  font-size: 62px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
}

h2 {
  margin-bottom: 100px;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}

figure {
  width: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.button {
  margin-top: 20px;
}

.button a {
  display: inline-block;
  padding: 10px 50px;
  background: orange;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
  font-family: 'Open Sans', sans-serif;
}

.button a:hover {
  background: black;
  color: orange;
}
